@import "color.styl"

// This is for helper classes
.has-item-centered
  justify-content center

.bg-primary
  background-color primary

.bg-danger
  background-color danger

.bg-danger
  background-color warning

.text-white
  color white